<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %>
  <textarea name="Textarea" id="Textarea" cols="65" rows="10"></textarea>
</p>


