<%= form_for(@answer, :url => student_student_answers_path(current_user.role) ) do |f| -%>
	<p class="input">
		<% unless e.txt == "" %>
	    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
			<%= hidden_field_tag "question_id", e.id %>
	  <% end %>
	  <%= f.text_area :txt %>
	</p>
<% end -%>
<div class="save">
  <img class="save" src="/images/space.gif" alt="save Answer" />
</div>

