<div id="c_<%=  @content.id %>" class="element">
  <%= render @content.element, :e => @content.element %>
	<% if @student %>
  	<%=  hidden_field_tag "url", find_question_score(@content, @student)%>  
	<% else %>
		<%=  hidden_field_tag "url", find_question_score(@content)%>  
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		Stitched.loadGradeView();
  });
</script>