<h1>Bem-vindo ao STICTH</h1>

<p>
	Está no ambiente de aprendizagem desenvolvido pela parceria do </br>
	STITCH – “STITCH - Turismo Sustentável e de Natureza - Curso e Manual em suporte de TIC”.
</p> 

<p>Saiba mais sobre o projecto, a parceria e os objectivos <%= link_to "aqui",  "http://stitch-project.eu/" %>.</p>

<p>O STITCH oferece cursos em e-learning para os alunos interessados ​​no desenvolvimento do turismo sustentável.</p>

<p>Os cursos são oferecidos para os níveis de Ensino e formação profissional, Licenciatura e Mestrado.</p>

<p>Os cursos do STITCH estão disponibilizados em sete idiomas diferentes: DE, DK, EN, LT, PT, RO e TU</p>

<p>Maio 2012</p>