<h1>Willkommen bei STITCH!</h1>

<p>STITCH ist eine Lernplattform für Nachhaltigen Tourismus.</p>

<p>
	STITCH steht für „<b>S</b>ustainable and Nature based <b>T</b>ourism <b>IT</b> <b>C</b>ourse and <b>H</b>andbook“ und wurde durch eine internationale Arbeitsgruppe im Rahmen eines dreijährigen Projektes entwickelt. 	
</p> 

<p>Mehr über das Projekt, die beteiligten Partner und die Ziele finden Sie <%= link_to "hier",  "http://stitch-project.eu/" %>.</p>

<p>STITCH bietet e-learning-Kurse rund um nachhaltige touristische Entwicklung für drei Qualifikationsniveaus an: </p>

<ul id="dashboard">
	<li>- einen Kurs für berufliche Aus- und Weiterbildung (Duales System)</li>
	<li>- einen Kurs auf Bachelor-Niveau und</li>
	<li>- einen vertiefenden Master-Kurs.</li>
</ul>

<p>Neben den Kursen in deutscher Sprache steht das Angebot in sechs weiteren Sprachen – dänisch, englisch, litauisch, portugiesisch, rumänisch und türkisch – zur Verfügung.</p>

<p>August 2012</p>