<div id="main">
<%= image_tag "http://stitch-project.eu/fileadmin/vorlagen/images/logo.png" %>
<h1>Welcome to STITCH!</h1>

<p>
	You are on the learning management system developed by the partnership of </br>
	STITCH – <b>S</b>ustainable and Nature-based <b>T</b>ourism <b>IT</b> <b>C</b>ourse and <b>H</b>andbook.
</p> 

<p>Find out more about the project, its partnership and objectives <%= link_to "here",  "http://stitch-project.eu/" %>.</p>

<p>STITCH offers e-learning courses for learners interested in sustainable tourism development.</p>

<p>Courses are offered for VET, Bachelor and Masters levels.</p>

<p>At the moment the courses are available in English.</p>

<p>The final version of STITCH will offer courses in seven different languages: DE, DK, EN, LT, PT, RO, TU</p>

<p>April 2012</p>
</div>
<div id="aside">

</div>

