<div id="main">
<%= image_tag "http://stitch-project.eu/fileadmin/vorlagen/images/logo.png" %>
<h1>Welcome to STITCH!</h1>

<p>
	You are on the learning management system developed by the partnership of </br>
	STITCH – <b>S</b>ustainable and Nature-based <b>T</b>ourism <b>IT</b> <b>C</b>ourse and <b>H</b>andbook.
</p> 

<p>Find out more about the project, its partnership and objectives <%= link_to "here",  "http://stitch-project.eu/" %>.</p>

<p>STITCH offers e-learning courses for learners interested in sustainable tourism development.</p>

<p>At the moment the Bachelor course is fairly progressed and ready to visit.</p>

<p>The courses for VET level and Master level are under construction.</p>
<p>&nbsp;</p>
<p>
	In its final version STITCH will contain
	</p>
	<p>
	- Complete courses for VET, Bachelor and Master levels
	</p>
	<p>
	- Courses in seven different languages: DE, DK, EN, LT, PT, RO, TU
</p>
<p>&nbsp;</p>
<p>June 2011</p>
</div>
<div id="aside">

</div>