<%= raw textilize %q{

  
h2. I Structure: Course, module and all that
  
h3. What is a Course?

<div>
		General:
		A course is the highest functional element in this software. It is defined by the level of education and the language it adresses.
		So for every language and level a new course will be created, i.e. the STITCH project will produce more than 12 courses.
		Courses can be cloned for easy translation or creating shorter versions of themselves.
		A course can hold an unlimited number of modules. 
		Courses can only be created, edited with respect to their structure or deleted by an admin.
		
		If you are a Developer:
		Every Developer with the rights to modify an existing module will be able to see all other modules in the course in preview mode.
		Once a course is completed by the developers it will be set to "published" by an admin.
		This means, that no further changes can be made to this particular course. Changing content requires cloning the course.
		In general you shouldn't be to concerned about courses, since it's the admin's job to take care of this layer.
		
		If you are a Tutor:
		coming soon...
</div>

h3. What is a Module?

<div>
		A Module is the second layer of organisational structure of this software. It can hold an infinite number of units and can only be
		created, edited or deleted by an admin.
		The rights to developers are given on this level. So if you are allowed to edit a module you can change or delete all the existing
		units and pages.

</div>	

h3. What is a Unit?

<div>	
		Units are the third layer of organisational structure with the purpose of making the job of a developer easier.
		All their methods (create/delete/edit/copy/move) are fully in the domain of the developer.
		They can easily be copied and may therefore be used in order to shorten the time needed to create a framework or sturcture inside a module.
		A unit can hold an infinite number of pages which will be recursively copied/deleted/moved together with the unit.
</div>	

h3. What is a Page?

<div>	
		Pages are the basic building blocks employed in this software. They fill all the units, modules and courses with content and life.
		A page can contain as many content elements as you like, but you should always ensure a good user experience keeping them short.
		Just like units, pages are fully controlled by developers and can be created/moved/copied/deleted always recursively effecting
		their content elements. So if you copy a page all of it's content will be copied too.
</div>	

h3. What is a Developer?

<div>
		If you are reading this, you are one of them. Your job is to fill the modules you can find under "Modules" with units, pages and
		content. You are in charge of making your module the best there is.
		You are also allowed to see all the other modules of the respective courses you are assigned to.
	
</div>

h2. II The Module View

h3. How to get to the Module View?

<div>		
		If you click on the short title of a module inside the "Modules" page you will see the "Module View".
		
</div>		

h3. What do I see there?

<div>		
		The Module View contains an overview of the units and pages of this specific module.
		On the top of the page you can see the Module Title and description.
		On the right you can see the symbols for adding new units and new pages. New Pages can only be created when a unit has been selected.
</div>

h3. How to handle Units?

<div>	
		- in order to create a new unit click on the "new unit" button to the right
		- to change the name of the unit
		 	- hover over it and click the pencil icon
			- enter the desired name and press enter to save it
		- to delete a unit just click the little "x" and agree to the question
		- to (re-)arrange a unit in a module
			- simply click&drag it into the new position
		 	- and then drop it
		- to make a copy of a unit simply click the copy icon next to its name (on the right side)
</div>	

h3. How to handle Pages?

<div>	
		- in order to create a new page
			- click on a unit to select it
			- click on the "new page" button to right that just appeared
		- to change the name of a page
			- hover over it and click the pencil icon
			- enter the desired name and press enter to save it
		- to delete a page just click the little "x" and agree to the question
		- to order a unit 
			- simply click&drag it into the new position 
			- and then drop it
		- to move a page between units
			- open the two units you want to move page in between
			- click&drag the page from one unit to the other
		- to copy a page
			- do exactly the same thing as moving while holding down the "alt" key
			- or just press the copy icon next to the edit button
</div>	

h2. III The Page View
	
h3. How to get to the Page View?

<div>		
		Select a Unit to see the corresponding pages. Just click on the name of a page in order to get to the Page View.
</div>	

h3. What do I see there?

<div>	
		On top of the Page there is the Page title and, if possible, a navigation to help you quickly flip through pages.
		On the right you can see a list of all the different content elements you can add to a page.
</div>	

h3. How to create an element?

<div>	
		In order to add an element to the page just click on the corresponding button.
</div>	

h3. How to delete an element?

<div>		
		Hover above the element and click on the "X" in the right top corner. 
</div>	

h3. How to edit an Element?

<div>	
		Just click it ;)
</div>	

h3. How to save an Element?

<div>	
		Click on the floppy disk icon in the top right corner.
</div>	

h3. How to order elements?

<div>	
		Simply click&drag any element into the desired position.
		
</div>

h2. IV Content Elements
	
h3. How do I use the RichText Element?

<div>		
		Please refer to section V of the FAQ.
</div>	

h3. How do I use the Video Element?

<div>	
		After creating a new video element, just click to edit. (!do not click on the video itself but on the white areas left and right!).
		Copy and paste the complete youtube embed link. (you can find this beneath every youtube video with embed enabled).
		Click save and enjoy your new video.
</div>	

h3. How do I use the Slideshare Element?

<div>	
		If you want to use a slideshare presentation on your page just copy and paste the complete embed link into the edit view.
</div>	

h3. How do I use the Questions?

<div>	
		You can choose between three types of questions:
			- a short question with a single line answer
			- an essay question where the student will be required to enter a complete text
			- a multiple choice question
			
		The single question elements are pretty much self explainatory. 
		The multiple choice questions need a bit more information:
			- the question you want to ask
			- a new line for every possible answer given
			- if more than one answer can be given
	
</div>

h2. V The RichText Developer


h3. What can be contained in a text element?

<div>
		Text elements may contain:
		- written text, formatted in various ways >> see: What do I have to keep in mind when writing and formatting text with the developer?
		- text copied from existing documents >> see: How can I copy and format text from my Word documents?
		- tables >> see: What has to be considered when adding tables?
		- pictures, graphs or clip arts >> see: How can illustrations be added?
		- links >> see: How can links be inserted into my text element?

</div>

h3. What should never be forgot?

<div>
		Make sure, that you save your changes using the “saving” icon on the right corner above the respective text element.
		This will keep your frustration level low.
		
</div>

h3. What do I have to keep in mind when writing and formatting text with the developer?

<div>
		Work with the text developer is similar, but not identical with work with MS Word or other word processing programmes.
		So you have to get used to some peculiarities.

		Note following differences:
		- Formatting can be done with the options “Formatting Styles” and “Paragraph Format” in the first row of developer’s options.
		- “Formatting Styles” gives you options for different block or inline styles.
		- “Paragraph Format” is important because of the different heading styles it offers.
		- Options chosen in “Formatting Styles” or “Paragraph Format” apply to the complete paragraph. 
		- The "Bold" option applies to selected words/sentences/parts within a paragraph.
		But if you want to highlight parts of a paragraph other than "Bold", it is necessary that you copy the text 
		from a Word document or other documents.

</div>

h3. How can I copy and format text from my Word documents?

<div>
		Inserting text from external documents can be managed easily using Copy/Paste functions.

		When copying texts from MSWord, please be aware that only some features of the text are copied. 
		If you have labelled parts of the MSWord text as "bold" or "italics", these properties will remain in the copy. 

		BUT following formatting properties will be lost:
		- The font and the size of the text will be changed to the regular text format of the developer.
		- If you have chosen a different text colour, it will not be copied.
		- If you have inserted graphics (Clip arts, photos) they will not be copied and have to be inserted
		  with the “Image” button (see: How can illustrations be added?)

</div>

h3. What has to be considered when adding tables?

<div>	
		Tables can be created using the “Table” icon in the second row of your developer. 
		Here you can define the size of the table giving numbers of rows and columns, the width and other properties explained below.

		Tables can also be copied from Word or other documents using Copy/Paste.
		But… 
		- some of the formatting properties will be lost
		- the table looks a little different (and might need some additional formatting)

		You can format the table…
		- using formatting functions of the developer. "Formatting styles” will apply only to the cell(s) selected
		- using the “Table” menue. Here you have the option “Table Properties” which gives you the possibility to define 
			- Columns – Number of columns required
			- Rows – number of rows required
			- Width and height of the table – in pixels or percent 
			- Headers – gives different possibilities to define headers, which will be formatted in a special way (fat and centered)
			- Border size – defines the size of the outward border of the table (1 or 2 recommended)
			- Alignment – defines the position of the table
			- Cell spacing – defines the width of the lines dividing cells (2 recommended)
			- Cell padding – defines the space between text in the cells and dividing lines (5 to 15 recommended)
			- Caption – gives you the possibility to give a name to the table
			- Summary – gives you the possibility to write a short description, which will not be shown
		- “Advanced” table properties are described in the User’s Guide of the developer.

</div>

h3. How can illustrations be added?

<div>
		Graphs and other illustrations created with Powerpoint can be copied from the respective presentations, using Copy/Paste. 

		If you want to insert a picture or a clip art from a file:
		- Use the “Image” button and follow the dialogue
		- A URL of the required illustration is needed 
		- Pictures have to be uploaded to the RubyStudy Server and can be inserted from there
		- “Image properties” or “Image info” gives you the possibility to format your picture
		- Measures are given in pixels
		- Border: will draw a black frame around your picture, the number you put in changing the width of this frame (“1” is enough to delineate)
		- H space: is the horizontal space on both sides of your picture which is kept free from text or other content >> “20” is recommended
		- V space: is the vertical space above and beneath your picture which is kept free from text or other content >> “20” is recommended
		- Alignment: saying “right” or “left” positions your photo on either side of the text element
		- “Advanced” image properties are described in the User’s Guide of the developer

</div>

h3. How can links be inserted into my text element?

<div>	
		- You can link to URL, anchor in the text and email.
		- If you want to link to another part of the text, you have to define an anchor first. 
		- Copy the URL or email you want to set a link to.
		- URL, anchor or email to. 
		- Then click on the “Link” icon in the second row of your browser. 
		- Then follow the dialogue.
		- It is important to set a “Target”. “New Window” is recommended.
		- “Advanced” options are described in the User’s Guide of the developer.


</div>

h3. How are links to other Pages made?

<div>	
		- First you get the "id" of the page you want to link to.
		- Find the page and look at the url e.g. "developer/stitch_units/131/pages/520/edit"
		- The Number behind "pages" is the "id" e.g. 520
		- Go to the page where the link should be on and open the RichTextEditor
		- Mark the text you want to link to the page
		- Then click on the “Link” icon in the second row of your browser.
	  - as "Protocol" choose "other"
	  - enter the internal link in the form of "intern://page/PAGEID" e.g. "intern://page/520"
		- the software will automatically replace the link corresponding to your role (e.g. Student or Developer) and view type (e.g. show or edit)

</div>

h3. How are links to the Bibliography made?

<div>	
First make sure that the last page of the module is the Bibliography
- Go to the content page where the short bibliographical reference should be on and open the respective text element.
- Mark the text you want to link to the Bibliography 
- Then click on the “Link” icon in the first row of your browser.
- As "Protocol" choose “other”
- Enter the internal link as URL in the form of <strong>intern://biblio</strong>
- Choose "Target" and there the possibility “New Window”
- Go to the Bibliography page at the end of the module
- Edit the text element and enter the complete bibliographical reference

If the bibliography of your module gets longer, it is necessary to link to a special bibliographical reference. You can do this by using anchors.
- Select the text in your bibliography you want to be the anchor
- Click the little flag in the first row of your browser and select a short name for your anchor (we recommend that you take the first word of your bibliographical reference, best without spaces)
- Now go back to your content page and modify your link to “intern://biblio/#anchorname”

</div>

h3. How can I find out more options of the developer?

<div>
		First, feel encouraged to test all offered options. 
		Make sure, that you save your changes using the “saving” icon on the right corner above the respective text element.

		Second, you may have a look in the “Users guide” for the developer:
		"http://docs.cksource.com/CKDeveloper_3.x/Users_Guide":http://docs.cksource.com/CKDeveloper_3.x/Users_Guide
</div>
  }%>