<%= raw textilize %q{

  
h2. I Struktur: Kurs, Modul und alles Andere

h3. Was ist ein Kurs?

<div>
		Allgemein:
		Ein Kurs ist das höchste funktionale Element dieser SOftware. Er ist definiert durch das Ausbildungsniveau und die Sprache.
		Also für jede Sprache und jedes Niveau wird ein neuer Kurs erstellt, das heißt, das STITCH ProjeKt produziert mehr als 12 Kurse.
		Kurse können für eine einfache Übersetzung oder die Erstellung von Kurzversionen neu erzeugt werden.
		Ein Kurs kann eine unbegrenzte Anzahl von Modulen enthalten. 
		Kurse können unter Einhaltung ihrer Struktur durch einen Adminstrator erstellt, editiert und gelöscht werden. 




		Wenn Sie ein Entwickler sind:
		Der Administrator legt neue Kurse an und legt fest, welches Modul von welchem Entwickler bearbeitet werden kann. Die anderen Module eines Kurses können Sie sehen, aber nicht bearbeiten.
		Sobald ein Kurs durch den Entwickler vollständig bearbeitet ist, wird er durch einen Administrator auf den Modus "Veröffentlicht" gesetzt.
		Dies bedeutet, dass keine weiteren Änderungen für diesen speziellen Kurs mehr vorgenommen werden können.  Um den Inhalt zu ändern bedarf es der Neuerzeugung eines Kurses.

</div>

h3. Was ist ein Modul?

<div>
		Ein Modul ist die zweite Ebene der oranisatorischen Struktur dieser Software. Es kann eine unbegrenzte Anzahl von Einheiten enthalten und kann ausschließlich
		durch einen Administrator erstellt, editiert und gelöscht werden.
		Die Entwicklerrechte werden auf dieser Ebene vergeben. Wenn es Ihnen erlaubt ist, ein Modul zu editieren, können Sie auch alle existierenden Einheiten oder Seiten ändern oder löschen.
		Bevor ein Modul gelöscht werden kann, müssen alle beinhalteten Einheiten gelöscht werden.

</div>	

h3. Was ist eine Einheit?

<div>	
		Einheiten sind die dritte Ebene der organisatorischen Struktur mit dem Zweck, die Arbeit des Entwicklers einfacher zu gestalten.
		Alle Arbeitsmöglichkeiten (erstellen/löschen/editieren/kopieren/versetzen) sind vollständig in der Hand des Entwicklers.
		Einheiten können einfach kopiert werden und somit Zeit eingespart werden, um einen Rahmen oder eine Struktur innerhalb eines Moduls zu erstellen.
		Eine Einheit besteht aus einer unbestimmten Anzahl von Seiten, die zusammen mit der Einheit kopiert/gelöscht/versetzt werden können. 
</div>	

h3. Was ist eine Seite?

<div>	
		Seiten sind die grundlegenden Elemente dieser Software. Sie füllen alle Einheiten, Module und Kurse mit Inhalt und Leben.
		Eine Seite kann so viele inhaltliche Elemente beinhalten, wie Sie möchten, aber Sie sollten aus der Anwedungspraxis heraus immer sicher stellen, diese möglichst kurz zu halten.
		Ebenso wie die Einheiten werden die Seiten durch den Entwickler kontrolliert und können erstellt/versetzt/kopiert und gelöscht werden, was immer auch die inhaltlichen Elemente beeinflusst. 
		Wenn Sie also eine Seite kopieren, wird immer auch ihr Inhalt kopiert. 
</div>	

h3. Wer ist ein Entwickler?

<div>
		Wenn Sie dies hier lesen, sind Sie einer von Ihnen. Ihre Aufgabe ist es, die vom Administrator vorgegebenen Module mit Einheiten, Seiten und Inhalt zu füllen. 
		Sie sind also für die inhaltliche Gestaltung einzelner Module verantwortlich.
		Außerdem haben Sie die Rechte, alle anderen Module der jeweiligen Kurse anzusehen, für die Sie verantwortlich sind. 

</div>

h2. II Die Modulansicht

h3. Wie kommt man zur Modulansicht?

<div>		
		Wenn Sie auf den Kurztitel eines Moduls innerhalb der "Modul" Seite klicken sehen Sie die "Modulansicht".

</div>		

h3. Was kann ich dort sehen?

<div>		
		Die Modulansicht enthält einen Überblick über die Einheiten und Seiten eines Moduls.
		Oben auf der Seite sehen Sie den Modultitel und eine Beschreibung.
		Rechts finden Sie die Symbole, um neue Einheiten und neue Seiten hinzuzufügen. Neue Seiten können erst erstellt werden, wenn eine Einheit ausgewählt wurde.
</div>

h3. Wie gehe ich mit Einheiten um?

<div>	
		- um eine neue Einheit zu erstellen klicken Sie auf die Schaltfläche "Neue Einheit" rechts
		- um den Namen der Einheit zu ändern 
		 	- bewegen Sie die Maus über ihn und klicken auf das Stift-Piktogramm
			- geben Sie den gewünschten Namen ein und drücken Sie die Eingabetaste, um zu speichern
		- um eine Einheit zu löschen einfach auf das kleine "x" klicken und der Frage zustimmen
		- um eine Einheit in einem Modul zu (re-)arrangieren 
			- einfach in die neue Position klicken und ziehen
		 	- und dann los lassen 
		- um eine Kopie der Einheit zu erstellen einfach das Kopiersymbol neben dem Namen (auf der rechten Seite) klicken
</div>	

h3. Wie gehe ich mit Seiten um?

<div>	
		- um eine neue Seite zu erstellen
			- klicken Sie auf eine Einheit, um sie auszuwählen
			- klicken Sie auf die Schaltfläche "neue Seite" rechts 
		- um den Namen einer Seite zu ändern
			- bewegen Sie Maus über ihn und klicken auf das Stift Piktogramm
			- geben Sie den gewünschten Namen ein und drücken Sie die Eingabetaste, um zu speichern
		- um eine Einheit zu löschen einfach auf das kleine "x" klicken und der Frage zustimmen
		- um eine Einheit zu bekommen 
			- klicken und ziehen Sie diese einfach in die neue Position 
			- dann los lassen
		- um eine Seite zwischen den Einheiten zu verschieben 
			- öffen Sie die beiden Einheiten, zwischen denen denen Sie verschieben wollen
			- klicken und ziehen Sie die Seite von einer Einheit zur anderen
		- um eine Seite zu kopieren
			- verfahren Sie genauso wie unter dem Punkt "verschieben" während Sie die Taste "Alt" gedrückt halten
			- oder klicken Sie einfach das Kopiersymbol neben der Editierschaltfläche.
</div>	

h2. III Die Seitenansicht

h3. Wie gelange ich zur Seitenansicht?

<div>		
		Wählen Sie eine Einheit, um die dazu gehörenden Seiten zu sehen. Klicken Sie einfach auf den Namen der Seite, um die Seitenansicht zu erhalten.
</div>	

h3. Was kann ich dort sehen?

<div>	
		Oben auf der Seite sehen Sie den Titel der Seite und, wenn möglich, eine Navigation, die Ihnen hilft, schnell durch die Seiten zu blättern.
		Rechts sehen Sie eine Liste der verschiedenen Inhaltselemente, die Sie einer Seite hinzufügen können.
</div>	

h3. Wie kann ich ein Element erzeugen?

<div>	
		Um einer Seite ein Inhaltselement hinzuzufügen, einfach auf die korrespondierende Schaltfläche klicken. 
</div>	

h3. Wie kann ich ein Element löschen?

<div>		
		Mit der Maus über das Element fahren und "X" in der rechten oberen Ecke klicken. 
</div>	

h3. Wie editiert man ein Element?

<div>	
		Es einfach anklicken ;)
</div>	

h3. Wie wird ein Element gesichert?

<div>	
		Klicken Sie auf das Disk Symbol in der rechten oberen Ecke. 
</div>	

h3. Wie verschiebt man ein Element innerhalb einer Seite?

<div>	
		Klicken und ziehen Sie einfach ein Element in die gewünschte Position. Dazu müssen alle Elemente einer Seite geschlossen sein.

</div>

h2. IV Inhaltselemente

h3. wie nutze ich das Textelement?

<div>		
		 Bitte gehen Sie weiter zu Abschnitt V der FAQs.
</div>	

h3. Wie kann ich das Video-Element nutzen?

<div>	
		Nachdem Sie ein neues Video-Element erstellt haben, klicken Sie darauf, um zu editieren.  (!klicken Sie nicht auf das Video selbst, sondern auf die weißen Bereiche links und rechts!).
		Kopieren und fügen Sie den vollständigen youtube Einbindungs-Link ein. Sie finden diesen unterhalb jedes youtube Videos mit aktivierter Einbindung.
		Klicken sie speichern und freuen Sie sich über Ihr neues Video.
</div>	

h3. Wie nutze ich das Slideshare-Element?

<div>	
		Wenn Sie auf Ihrer Seite eine bei Slideshare gespeicherte Folienpräsentation nutzen wollen, kopieren und fügen Sie einfach den vollständigen Einbindungs-Link in die Editieransicht ein. 
</div>	

h3. Wie verwende ich die Fragen?

<div>	
		Sie können zwischen drei Arten von Fragen wählen:
			- eine kurze Frage mit einer einzeiligen Antwort
			- Eine Essay Frage, bei der der Student gefragt ist, einen vollständigen Text einzugeben
			- Eine "multiple choice" Frage

		Die einzelnen Frage-Elemente sind selbsterklärend. 
		Für die "multiple choice" Fragen brauchen Sie etwas mehr an Information:
			- die Frage, die Sie fragen wollen
			- eine neue Zeile für jede mögliche Antwort, die gegeben wird
			- wenn mehr als eine Antwort gegeben werden kann

</div>

h2. V Der "RichText" Developer zur Bearbeitung von Textelementen


h3. Was kann in einem Textelement enthalten sein?

<div>
		Text Elemente können bestehen aus:
		- geschriebenen Texten, in verschiedener Weise formatiert >> siehe: Was muss ich bedenken, wenn ich Texte als Entwickler schreibe und formatiere?
		- Texte aus bestehenden Dokumenten kopieren >> siehe: Wie kann ich Texte aus meinen Word-Dokumenten kopieren und formatieren?
		- Tabellen >> siehe: Was muss beim Einfügen von Tabellen beachtet werden?
		- Bilder, Grafiken oder "clip arts" >> siehe: Wie kann Bildmaterial eingefügt werden?
		- Links >> siehe: Wie können Links in mein Text-Element eingefügt werden?

</div>

h3. Was sollte nie vergessen werden?

<div>
		Stellen Sie sicher, dass Sie Ihre Änderungen speichern, indem Sie das Speichersymbol in der rechten Ecke oberhalb des jeweiligen Textelements.
		Das erspart Frustration und doppelte Arbeit.

</div>

h3. Auf was muss ich achten, wenn ich mit den Rich-Text-Editor benutze?

<div>
		Mit dem Text Entwickler zu arbeiten ist ähnlich, wie mit die Arbeit mit MS Word oder anderen Textverarbeitungsprogrammen.
		Allerdings sind einige Unterschiede und Besonderheiten zu beachten: 

		- Formatieren kann man mit den Optionen “Format Styles” and “Paragraph Format” in der ersten Reihe der Bearbeitungsoptionen.
		- “Format Styles” ermöglicht verschiedene Block- oder Zeilenstile.
		- “Paragraph Format” ist von Bedeutung, da es Ihnen unterschiedliche Überschriftsstile anbietet.
		- Die gewählten Optionen “Format Styles” oder “Paragraph Format” beziehen sich jeweils auf den gesamten Abschnitt. 
		- Die Option "fett"findet Anwendung für ausgesuchte Wörter/Sätze/Bestandteile innerhalb des Abschnitts. 
		Wenn Sie aber Teile eines Abschnitts anders als mit "fett" hervorheben möchten, dann ist es nötig, dass Sie den Text aus Word- oder anderen Dokumenten kopieren.

</div>

h3. Wie kann ich Texte aus meinen Word-Dokumenten kopieren und formatieren?

<div>
		Das Einfügen von Texten aus externen Dokumenten erfolgt durch die Kopieren/Einfügen-Funktion (Strg-C/Strg-V). 

		Allerdings werden beim Kopieren aus externen Dokumenten nur einige der Funktionen kopiert.  
		Wenn Sie Teile eines Word-Textes als "fett" oder "kursiv" gekennzeichnet haben, werden diese Einstellungen in der Kopie erhalten bleiben.  

		ABER... folgende Formateinstellungen gehen verloren:
		- Der Font und die Textgröße werden in das reguläre Format des Programms umgeändert. 
		- Wenn Sie eine andere Textfarbe gewählt hatten, wird diese nicht kopiert. 
		- Wenn Sie Grafiken eingefügt hatten ("Clip arts", Fotos) werden diese nicht kopiert und müssen 
		mit der Schaltfläche “Bild” neu eingefügt werden (siehe: Wie kann Bildmaterial eingefügt werden?).

</div>

h3. Was muss beim Erstellen und der Bearbeitung von Tabellen beachtet werden?

<div>	
		Tabellen können mit dem Symbol "Tabelle" in der zweiten Reihe der Bearbeitungsfunktionen erstellt werden. 
		Dort können Sie die Größe der Tabelle, die Anzahl der Zeilen und Spalten definieren. Die Breite und andere Einstellungen sind nachfolgend erklärt.

		Tabellen können ebenso mit der Funktion kopieren/einfügen von Word oder anderen Dokumenten kopiert werden.
		ABER… 
		- einige der Formateinstellungen gehen verloren
		- die Tabelle sieht ein wenig anders aus (und braucht evt. einige zusätzliche Formatierungen)

		Sie können die Tabelle formatieren in dem Sie…
		- die Formatfunktionen unter den Bearbeitungsfunktionen nutzen. "Format Styles” wird nur erscheinen, wenn eine Zelle/ die Zellen markiert ist.
		- das Menü "Tabelle" nutzen. Dort finden Sie die Option “Tabellen Funktionen” die Ihnen die Möglichkeit gibt folgendes zu definieren 
			- Spalten – die Anzahl der Spalten ist gefragt
			- Zeilen – die Anzahl der Zeilen ist gefragt
			- Die Breite und Höhe der Tabelle – in Pixel oder Prozent 
			- Überschriften – mit verschiedenen Möglichkeiten Überschriften zu definieren, die auf eine spezielle Art formatiert werden (fett und zentriert)
			- Begrenzung – definieren Sie die äußere Begrenzung der Tabelle (1 or 2 werden empfohlen)
			- die Anordnung – definiert die Position der Tabelle
			- Zellengröße – definiert die Breite der Zeilen zwischen den Zellen (2 werden empfohlen)
			- Zellfüllung – definiert den Platz zwischen dem Text der Zellen und telt die Zeilen (5 bis 15 werden empfohlen)
			- Beschriftung – gibt Ihnen die Möglichkeit, der Tabelle einen Namen zu geben
			- ZUsammenfassung – gibt Ihnen die Möglichkeit, eine Kurzbeschreibung zu verfassen, die nicht angezeigt wird.
		- “Fortgeschrittene” Tabellenfunktionen sind in der Anleitung der Bearbeitungsfunktionen beschrieben. 

</div>

h3. Wie kann Bildmaterial eingefügt werden?

<div>
		Grafiken und anderes Bildmaterial, das mit Powerpoint erstellt wurde, kann mit der Funktion kopieren/einfügen von der jeweiligen Präsentation kopiert werden. 

		Wenn Sie ein Bild oder "clip art" von einer Datei einfügen wollen:
		- Wählen Sie die Schaltfläche "Bild" und folgen Sie dem Dialog
		- Es wird eine URL des gewünschten Bildmaterials benötigt 
		- Bilder müssen auf den RubyStudy Server hochgeladen werden und können von dort eingefügt werden.
		- “Bildfunktionen” oder “Bild Info” gibt Ihnen die Möglichkeit, Ihr Bild zu formatieren. 
		- Maße werden in Pixel angegeben
		- Begrenzung: zieht einen schwarzen Rahmen um Ihr Bild, die Zahl, die Sie eingeben, ändert die Breite des Rahmens (“1” ist genug als Entwurf)
		- H Abstand: ist der horizontale Abstand auf beiden Seiten Ihres Bildes, der für Text oder andere Inhalte freigelassen wird >> “20” wird empfohlen
		- V Abstand: ist der vertikale Abstand über und unter dem Bild, der für Text oder andere Inhalte freigelassen wird >> “20” wird empfohlen
		- Anordnung: die Position des Fotos nach "rechts" oder "links" auf eine Seite des Textelements zu setzen
		- “Fortgeschrittene” Bildfunktionen sind in der Anleitung der Bearbeitungsfunktionen beschrieben

</div>

h3. Wie kann ich Links in meine Textelemente einfügen?

<div>	
		- Sie können zu URL und Mailadressen verlinken sowie Textmarken setzen 
		- Wenn Sie zu einem andern Teil des Textes verlinken wollen, müssen Sie zuerst eine Textmarke definieren. 
		- Kopieren Sie die URL oder Email, zu der Sie verlinken wollen.
		- Klicken Sie auf das “Link”-Symbol in der zweiten Reihe Ihres Editors. 
		- Folgen Sie dem Dialog.
		- Es ist wichtig, ein "Target" zu setzen. Die Option “New Window” wird empfohlen.
		- “Fortgeschrittene” Optionen sind in der Anleitung der Bearbeitungsfunktionen beschrieben. 

</div>

h3. Wie kann zu anderen Seiten verlinkt werden?

<div>	
		- Gehen Sie zunächst zur "id" der Seite, zu der Sie verlinken wollen.
		- Finden Sie die Seite und schauen sich die URL an z.B. "developer/stitch_units/131/pages/520/edit"
		- Die Nummer hinter "Seiten" ist die "id" z.B. 520
		- Gehen Sie zu der Seite auf der der Link erscheinen soll und öffnen den "RichTextEditor"
		- Markieren Sie den Text, den Sie zu der Seite verlinken wollen
		- Dann klicken Sie auf das "Link” Symbol in der zweiten Reihe Ihres Editors.
	  - als "Protocol" wählen Sie "other"
	  - geben Sie den interen Link in dieser Form ein "intern://page/PAGEID" z.B. "intern://page/520"
		- die Software wird automatisch den Link entsprechend Ihrer Rolle (z.B. Student oder Entwickler) und des Ansichtstyps (z.B. zeigen oder editieren) ersetzen

</div>

h3. Wie werden die Links zur Bibliographie erstellt?

<div>	
Stellen Sie sicher, dass die letzte Seite eines Moduls die Bibliographie ist.
- Gehen Sie zu der Inhaltsseite, auf der ein kurzer Quellennachweis sein sollte und öffnen Sie das jeweilige Textelement.
- Markieren Sie den Text, den Sie zur Bibliographie verlinken wollen. 
- Dann klicken Sie auf das “Link”-Symbol in der ersten Reihe Ihres Editors.
- Als "Protocol" wählen Sie “other”
- Geben Sie den internen Link als URL in dieser Form ein <strong>intern://biblio</strong>
- Wählen Sie "Target" und dort die Option “New Window”
- Gehen Sie zur Bibliographie-Seite am Ende des Moduls.
- Editieren Sie das Textelement und geben Sie den vollständigen Quellennachweis an

Wenn die Bibliographie Ihres Moduls länger wird, ist es notwendig, zu einem speziellen Quellennachweis zu verlinken. Sie können dies tun, in dem eine Textmarke setzen.
- Wählen Sie den Text in Ihrer Bibliographie, der die Textmarke erhalten soll.
- Klicken Sie die kleine Flagge in der ersten Reihe Ihres Editors und wählen Sie einen Kurznamen für Ihre Textmarke (wir empfehlen, dass Sie das erste Wort Ihres Quellennachweises nehmen, am besten ohne Zwischenräume)
Gehen Sie nun zurück zu Ihrer Inhaltsseite und ändern Ihren Link in “intern://biblio/#Textmarkenname”

</div>

h3. Wie kann ich mehr Optionen der Bearbeitungsfunktionen herausfinden?

<div>
		Erstens: Scheuen Sie sich nicht, alle verfügbaren Optionen auch zu testen.  
		Stellen Sie sicher, dass Sie (erwünschte) Änderungen abspeichern, in dem Sie die Schaltfläche "speichern” in der rechten Ecke des jeweiligen Textelements nutzen. 

		Zweitens: Wenn Sie weitere Optionen kennenlernen möchten, ist hier der Link zur “Gebrauchsanleitung" des Editors:
		"http://docs.cksource.com/CKDeveloper_3.x/Users_Guide":http://docs.cksource.com/CKDeveloper_3.x/Users_Guide
</div>

  }%>