<%= raw textilize %q{

  
h2. How to work with the Software

h3. How can I edit my profile?

<div>
	When you click on Profile for the first time, you find your email address as only information. 
	Please add your first and last name as information, so that your tutor and other students can address you properly. 
	You can also add your avatar by creating it on Gravatar. The link to Gravatar is included. 	
</div>

h3. How can I see my courses?

<div>
	When you click on Courses you see all courses you are enrolled to. 
	Click on the course you want to work with and start!
</div>

h3. What can I do when I am a student enrolled to one or more courses?
	
<div>
	You have three main possibilities as student:
	
	- you can work on the content of a course
	- you can communicate with your tutor, individual other students, your course working group or the complete course. 
	- you can monitor your progress in your coursebook
	
	The three possibilities are explained below.
</div>

h3. What is a course, a module, a unit and a page?

<div>
	A course is the complete programme you are enrolled to. It consists of different modules. 
	Each of these units has one or more pages which contain the content: texts, illustrations, photos, videos, slideshares, questions. 
	Questions on an assignment page are included in the assessment of the course.                         		
</div>

h3. What is an assignment page?

<div>
	Assignment pages are pages which have been marked by the developers of the respective course. 
	Answers to the questions on these pages are sent to your tutor for assessment. 
	The assessments of all assignment pages contribute to the overall assessment. 
</div>

h3. What does "working on a course" mean?

<div>
	Work on the course means:
	- reading texts
	- watching videos and slideshares
	- following links to further and recommended material
	- answering questions individually or in groups
	- sending answers to individual or group assignments for assessment to your tutor.
</div>

h3. How can I communicate with others (students or tutor)?

<div>
	There are two ways to communicate with other students:
	- The course content may contain collaborative parts: Either you are asked to discuss a topic with other students ("Group discussion") or you are asked to collaboratively answer questions ("Group essay"). When following the respective request, you will be guided in your work. 
	- You choose the option "Messaging". Then you find a list of possible persons and groups you may contact.
</div>

h3. What is a group discussion?

<div>

</div>

h3. What is a group essay?

<div>
	A Group essay is an essay (or presentation) you are asked to write (or prepare) together with a working group. You can work on a text simultaneously or one after the other, saving your intermediate results. Only students enrolled in your working group can view intermediate results. After finishing the essay can be sent to the tutor for assessment.
</div>

h3. What is my coursebook?

<div>
	Your coursebook shows your progress on the courses you are enrolled to. Here you find a list of the units of the course which contribute to the assessment, showing the grade achieved currently and the weight of the respective unit for the overall assessment of the module. You can reach the coursebook by clicking on the symbol with graduation hat and diploma on the right hand side of the list of your courses. 
</div>

  }%>