<%= raw textilize %q{

  
h2. Arbeiten mit der Software

h3. Wie kann ich mein Profil editieren?

<div>
	Wenn Sie das erste Mal auf Ihr Profil klicken, erscheint Ihre Email- Adresse als einzige Information. 
	Bitte fügen Sie Ihren Vor- und Zunamen hinzu, damit Ihr Tutor und andere Studenten Sie korrekt anreden können. 
	Sie können außerdem einen Avatar hinzufügen, durch Erstellung über Gravatar. Der Link zu Gravatar ist eingefügt. 	
</div>

h3. Wie kann ich meine Kurse sehen?

<div>
	Wenn Sie auf "Kurse" klicken, sehen Sie alle Kurse, für die Sie sich registriert haben. 
	Klicken Sie auf den Kurs, den Sie bearbeiten wollen und starten Sie!
</div>

h3. Welche Möglichkeiten habe ich als Student, wenn ich für einen oder mehrere Kurse registriert bin?

<div>
	Als Student haben Sie folgende drei Möglichkeiten:

	- Sie können den Inhalt eines Kurses bearbeiten. 
	- Sie können mit Ihrem Tutor, einzelnen anderen Studenten, Ihrer Kurs- Arbeitsgruppe oder mit dem kompletten Kurs kommunizieren.  
	- Sie können Ihre Fortschritte in Ihrem Kursbuch überwachen.

	Die drei Möglichkeiten werden unten ausführlich dargestellt.
</div>

h3. Was ist ein Kurs, ein Modul, eine Einheit und eine Seite?

<div>
	Ein Kurs beinhaltet das vollständige Programm, für das Sie sich registriert haben. Es besteht aus verschiedenen Modulen, die wiederum in mehrere Einheiten unterteilt sein können. 
	Jede dieser Einheiten besteht aus mehreren Seiten, mit folgendem Inhalt: Texte, Illustrationen, Fotos, Videos, slideshares und Fragen. 
	Die Fragen und Aufgaben auf Aufgabenseiten sind relevant für die Bewertung des Kurses, Fragen auf anderen Seiten dienen dem Selbststudium.                         		
</div>

h3. Was ist eine Aufgabenseite?

<div>
	Aufgabenseiten sind Seiten, die vom Entwickler des entsprechenden Kurses als solche gekennzeichnet sind. 
	Die Antworten auf die Fragen dieser Seiten werden zur Bewertung an den Tutor gesendet. 
	Die Bewertungen aller Aufgabenseiten tragen zur Gesamtbewertung bei. 
</div>

h3. Was bedeutet "einen Kurs bearbeiten"?

<div>
	Einen Kurs zu bearbeiten bedeutet:
	- Texte zu lesen
	- Videos und slidshares zu betrachten
	- Links zu weiterführendem und empfohlenem Material zu folgen 
	- Fragen individuell oder als Gruppe zu beantworten.
	- individuell bearbeitete Aufgaben oder Gruppenaufgaben zur Bewertung an den Tutor zu senden.
</div>

h3. Wie kann ich mit anderen kommunizieren (Studenten oder Tutor)?

<div>
	Es gibt zwei Möglichkeiten, mit anderen Studenten zu kommunizieren:
	- Der Kursinhalt kann kooperative Teile enthalten: Entweder sind Sie gefragt, ein Thema mit anderen Studenten zu diskutieren ("Gruppendiskussion"), oder Sie sind gefragt, Fragen gemeinschaftlich zu beantworten ("Gruppenessay"). Wenn Sie die jeweilige Frage beantworten, werden Sie in Ihrer Arbeit angeleitet. 
	- Sie wählen die Option "Messaging". Dort finden Sie eine Liste möglicher Personen und Gruppen, die Sie kontaktieren können.
</div>

h3. Was ist eine Gruppendiskussion?

<div>

</div>

h3. Was ist ein Gruppenessay?

<div>
	Ein Gruppenessay ist ein Essay (oder eine Präsentation) das/die Sie zusammen mit einer Arbeitsgruppe schreiben (oder erstellen).  Sie können an einem Text simultan oder zu unterschiedlichen Zeitpunkten arbeiten und Ihre Zwischenergebnisse speichern. Nur die Mitglieder Ihrer Arbeitsgruppe können die Zwischenergebnisse sehen und bearbeiten. Nach Fertigstellung des Essays kann es zur Beurteilung an den Tutor gesendet werden. 
</div>

h3. Was ist "Mein Kursbuch"?

<div>
	Ihr Kursbuch zeigt Ihnen den Fortschritt für die Kurse an, für die Sie registriert sind. Hier finden Sie eine Liste der bewertbaren Kurseinheiten, die aktuell erreichte Bewertung und die Gewichtung der jeweiligen Einheit im gesamten Modul. Sie erreichen das Kursbuch durch klicken auf das Symbol mit Doktorhut und Diplom auf der rechten Seite der Liste Ihrer Kurse. 
</div>


  }%>