<%= raw textilize %q{

  
h2. I Structure: Course, module and all that
  
h3. What is a Course?

<div>
		General:
		A course is the highest functional element in this software. It is defined by the level of education and the language it adresses.
		So for every language and level a new course will be created, i.e. the STITCH project will produce more than 12 courses.
		Courses can be cloned for easy translation or creating shorter versions of themselves.
		A course can hold an unlimited number of modules. 
		Courses can only be created, edited with respect to their structure or deleted by an admin.
				
</div>

h3. What is a Module?

<div>
		A Module is the second layer of organisational structure of this software. It can hold an infinite number of units and can only be
		created, edited or deleted by an admin. Modules can be compared to the chapters of a book: Each course consists of an introductory module and several thematic modules. 
		The content has been developed by the partners of STITCH.

</div>	

h3. What is a Unit?

<div>	
		Units are the third layer of organisational structure and can compared with the subchapters of a book. 
		Each unit (except for the units in the Module "Introduction to the course" and the last unit in each module) ends with an assignment. 
		The weighing of the assignments in a module has been given by the developers of the content. 
		Your duty as tutor is the assessment of the assignment. The first unit of each module gives an introduction of the module's topic and organisational questions. 
		The last unit is devoted to summing up and referencing. 
</div>	

h3. What is a Page?

<div>	
		Pages are the basic building blocks employed in this software. They fill all the units, modules and courses with content and life.
		They may contain written text with illustrations, videos, audio material, links and questions. 
		The last page of each unit (except for the units of the introductory module and the last unit in each module) contains an assignment. 
		These pages contain questions. 
		The answers to these questions- and only answers from "Assignment pages" - contribute to the assessment of a student. 
		Questions on other pages help students as self test and help to organize group work. 
		The last page of each module (except for the introductory module) contains the bibliography of the module.		
</div>

h3. What is a tutor?

<div>
		If you are reading this, you are one of them.
		You accompany and support groups of students during their work on the course.
		You are resposible for
		- organizing participating students (enrollment, definition of working groups, controlling deadlines)
		- setting deadlines for the complete course and the individual assignments which are part of each unit
		- adapting our percentage based grading individually to your national grading system
		- assessing the students' assignments and entering your assessments into the platforms grading system
		- communicating with the complete group, smaller working groups or individual participants of your course.
		
</div>

h3. What are a tutor's tasks?

<div>
		A tutor accompanies students during their work on the course. This encompasses the following tasks:
		- enrollment
		- allocation to working groups
		- setting deadlines for the complete course and individual assignments
		- customizing the grading system according to national conventions
		- allocating scores to the assignments
		- commenting on and assessing students' assignements
		- monitoring the students' progress
		- communicating with the complete course group, working groups and individual students
		An overview of these tasks can be found after login, when the possibility "Courses" is chosen and a course is selected.
</div> 

h3. How can a tutor enroll students to my course?

<div>
		The first step is the creation of a new working group by clicking on the respective button. 
		A name for the group has to be given and a deadline for the course can be set. By default it is six month from the current date.
		Students can be enrolled by clicking on the "enroll student" button. 
		The email address of the student has to be given. If the mail address is correct the student will be informed by the system of his/her login and password.
</div>

h3. How can a tutor define working groups?

<div>
		A new working group can be created by clicking on the respective button. 
		A name for the group has to be given and a deadline for the course can be set. 
		By default it is six month from the current date.
</div>

h3. How can a tutor change the students enrollment to a working group?

<div>
		When an account in the list of students is marked, three symbols can be seen on the right. 
		The symbol in the middle, two little arrows in opposite directions, 
		can be clicked on to get into the "Shuffle" menu. 
		The group the student is going to be shuffled to can be chosen from a pull-down menu.
</div>

h3. How can a tutor delete an enrolled student?

<div>
		A tutor can only delete the account of a student, if the account has not yet been active. 
		If the students account has been labelled "Working" it is no longer possible. 
		Inactive accounts can be deleted by ticking the X symbol on the far right when you have marked the student's account.
</div>

h3. How can a tutor set deadlines for the course or for individual assignments?

<div>
		After chosing "Deadlines" a deadline for the complete working group and all assignments can be given. 
		By default it is six month from the current date. Differing deadlines for individual assignments are possible by marking and clicking.
</div>

h3. How can a tutor customize the grading system according to national conventions?

<div>
		The possibility "Assessment" has to be chosen. Underneath an overview table of the current assessment of the students the button "Grading System" can be found. 
		In the Grading System menu there is the possibility to give the names, lower and upper thresholds for five grades. 
		The threshold values have to be given in percent. An example of a possible grading system illustrates the procedure.
</div>

h3. How can a tutor allocate scores to the assignments?

<div>
		After chosing "Assignment" a list of the different units is shown. 
		The weight of the units have been given by the developers and are fixed. 
		When clicking on a unit, the respective assignment page opens. 
		The tutor has the possibility to give the maximum score which can be achieved. 
		When assessing the work of an individual student the tutor gives his/her score according to this defined score.
</div>

h3. How can a tutor comment on and assess students' assignments?

<div>
		A tutor is informed on his/her email account of the work sent by a student. 
		A link leads to the assignment. Here the tutor has the possibility to comment on the essay and give his/her score. 
		On the basis of this score the assessment of the student is calculated and shown in the coursebook.
</div>

h3. How can a tutor monitor the students' progress?

<div>
		The individual student's progress can be monitored in the course book of a student. 
		It can be reached by clicking on the coursebook symbol (first symbol on the left when the account of a student has been marked). 
		An overview of all students and their current assessments can be found by clicking the "Assessment" button.
</div>

h3. How can a tutor communicate with the complete course group?

h3. How can a tutor communicate with working groups?

h3. How can a tutor communicate with individual students?

  }%>