<%= raw textilize %q{

  
h2. I Struktur: Kurs, Modul und alles Andere

h3. Was ist ein Kurs?

<div>
		Allgemein:
		Ein Kurs ist das höchste funktionale Element dieser Software. Er ist definiert durch das Ausbildungsniveau und seine Sprache.
		Für jede Sprache und jedes Niveau wird ein neuer Kurs erstellt, das heißt das STITCH Projekt produziert mehr als 12 Kurse.
		Kurse können für eine einfache Übersetzung neu erzeugt werden, oder um Kurzversionen zu erstellen.
		Ein Kurs kann eine unbegrenzte Anzahl von Modulen enthalten. 
		Kurse können ausschließlich unter Einhaltung ihrer Struktur durch einen Adminstrator erstellt, editiert und gelöscht werden. 

</div>

h3. Was ist ein Modul?

<div>
		Ein Modul ist die zweite Ebene der organisatorischen Struktur dieser Software. Es kann eine unbegrenzte Anzahl von Einheiten enthalten und kann ausschließlich
		durch einen Administrator erstellt, editiert und gelöscht werden.
		Module lassen sich mit den Kapiteln eines Buches vergleichen: Jeder Kurs enthält ein Einführungsmodul und verschiedene thematische Module. 
		Der Inhalt wurde durch die Partner von STITCH entwickelt.

</div>	

h3. Was ist eine Einheit?

<div>	
		Einheiten sind die dritte Ebene der organisatorischen Struktur und können mit den Unterkapiteln  eines Buches verglichen werden. 
		Jede Einheit (mit Ausnahme der Einheiten in dem Modul "Einführung in den Kurs" und die letzte Einheit jedes Moduls) endet mit einer Aufgabe. 
		Die Gewichtung der Aufgaben in einem Modul ist durch die Entwickler der Inhalte vorgegeben. 
		Der Tutor beurteilt die von den Studenten bearbeiteten Aufgaben. Die erste Einheit jedes Moduls gibt eine Einführung in das Modulthema und klärt organisatorische Fragen. 
		Die letzte Einheit enthält eine Zusammenfassung, die Bibliographie und weitere Referenzen. 
</div>	

h3. Was ist eine Seite?

<div>	
		Seiten sind die Basiselemente dieser Software. Sie füllen alle Einheiten, Module und Kurse mit Inhalt und Leben.
		Sie können geschriebene Texte mit Illustrationen, Videos, Hörmaterial, Links und Fragen enthalten.  
		Die letzte Seite jeder Einheit (mit Ausnahme der Einheiten des Einführungsmoduls und der letzten Einheit jedes Moduls) enthält eine Aufgabe. 
		Diese Seiten beinhalten Fragen. 
		Die Antworten auf diese Fragen - und ausschließlich Antworten der "Aufgabenseiten" - führen zu einer Bewertung des Studenten.  
		Fragen auf anderen Seiten helfen den Studenten im Sinne eines Selbsttests und helfen, Gruppenarbeit zu organisieren.  
		Die letzte Seite jedes Moduls (mit Ausnahme des Einführungsmoduls) enthält eine Bibliographie des Moduls. 		
</div>

h3. Was ist ein Tutor?

<div>
		Wenn Sie dies hier lesen, sind Sie einer von ihnen.
		Sie begleiten und unterstützen Studentengruppen während ihrer Arbeit mit dem Kurs.
		Sie sind verantwortlich für 
		- die Organisation teilnehmender Studenten (Einschreibung/Registrierung, Definierung von Arbeitsgruppen, Kontrolle der Abgabefristen)
		- das Festsetzen von Abgabefristen, sowohl für den vollständigen Kurs als auch für die individuellen Aufgaben, die Teil jeder Einheit sind
		- die Übertragung des prozentbasierten Bewertungssystems auf Ihr (nationales) Benotungssystem 
		- die Bewertung der Studentenaufgaben und die Eintragung dieser Beurteilungen in die studentischen Kursbücher.
		- die Kommunikation mit der ganzen Gruppe, kleineren Arbeitsgruppen oder einzelnen Teilnehmern Ihres Kurses. 

</div>

h3. Was sind die Aufgaben eines Tutors?

<div>
		ein Tutor begleitet die Studenten während der Arbeit mit dem Kurs. Dies umfasst die folgenden Aufgaben:
		- Einschreibung/Registrierung
		- Erstellung von Arbeitsgruppen
		- Abgabefristen für den vollständigen Kurs und einzelne Aufgaben setzen 
		- das Benotungssystem gemäß den nationalen Bestimmungen zu übertragen
		- die Bewertung der Aufgaben zu erstellen
		- die Aufgaben der Studenten zu kommentieren und zu bewerten
		- die Fortschritte der einzelnen Studenten zu überwachen
		- mit der kompletten Gruppe, den Arbeitsgruppen oder einzelnen Studenten zu kommunizieren
		Einen Überblick dieser Aufgaben finden Sie nach dem login, wenn bei der Option "Kurse" ein Kurs ausgewählt wurde. 
</div> 

h3. Wie kann ein Tutor Studenten zu "Mein Kurs" registrieren?

<div>
		Der erste Schritt ist die Bildung einer neuen Kursgruppe durch klicken auf die jeweilige Schaltfläche. 
		Es muss ein Name für die Gruppe vergeben werden. Ein Ende des Kurses kann festgelegt werden. Als Standard sechs Monate vom aktuellen Datum eingestellt. 
		Studenten können durch klicken der Schaltfläche "Student registrieren" mit der Angabe der Mail-Adresse registriert werden. 
		Wenn die Mail-Adresse korrekt angegeben ist, erhält der Student durch das System automatisch sein/ihr login und Passwort.
</div>

h3. Wie kann ein Tutor Arbeitsgruppen definieren?

<div>
		Eine Kursgruppe kann in verschiedene Arbeitsgruppen unterteilt werden.  
		Als Teil einer gekennzeichneten Kursgruppe kann eine neue Arbeitsgruppe durch klicken auf das Editiersymbol (Stift) erstellt werden. 
		Für die Gruppe muss ein Name vergeben werden und Studenten der Kursgruppe können durch Auswahl von einer Liste der Gruppe zugeordnet werden.
</div>

h3. Wie kann der Tutor die Registrierung eines Studenten zu einer Arbeitsgruppe ändern?

<div>
		Wenn der Name des Kurses markiert ist, erscheint das Editiersymbol. 
		Durch klicken des Editiersymbols erscheint eine Liste der Arbeitsgruppen mit den Namen der jeweiligen Studenten. 
		Wenn ein Name in der Liste der Studenten markiert ist, erscheinen rechts drei Symbole. 
		Das Symbol in der Mitte, zwei kleine Pfeile in entgegengesetzter Richtung, 
		kann angeklickt werden, um zum "Shuffle" Menü zu gelangen.  
		Die Gruppe, der der Student zugeordnet werden soll, kann in einem Pull-Down-Menü ausgewählt werden.
</div>

h3. Wie kann der Tutor einen registrierten Studenten löschen?

<div>
		Ein Tutor kann nur den Account eines Studenten löschen, wenn dieses als inaktiv markiert ist. Das bedeutet, dass der Student noch nicht sein/ihr Profil geändert hat.
		Wenn der Account des Studenten die Bezeichnung "in Bearbeitung" trägt, ist eine Löschung nicht mehr möglich. 
		Markierte inaktive Accounts öˆnnen durch Auswahl des X Symbols auf der ganz rechten Seite gelöscht werden.
</div>

h3. Wie kann der Tutor Abgabefristen für den Kurs oder einzelne Aufgaben setzen?

<div>
		Nach der Auswahl "Termine" kann eine Frist für die komplette Arbeitsgruppe und alle Aufgaben gesetzt werden. 
		Als Standard ist eine Frist sechs Monaten ab dem aktuellen Datum eingetragen. Die Angabe unterschiedlicher Fristen für einzelne Aufgaben ist durch markieren und klicken möglich.
</div>

h3. Wie kann ein Tutor das Benotungssystem ändern?

<div>
		Die Schaltfläche "Bewertung" muss ausgewählt werden. Unterhalb der Übersichtstabelle der aktuellen Bewertungen des Studenten findet sich die Schaltfläche "Benotungssystem". 
		Im Menü des Benotungssystems gibt es die Möglichkeit, Namen, niedrigsten und höchsten Schwellenwert für fünf Noten zu vergeben.  
		Die Schwellenwerte müssen in Prozent angegeben werden. Ein Beispiel eines Benotungssystems beschreibt die Verfahrensweise.
</div>

h3. Wie kann ein Tutor Bewertungen für die Aufgaben abgeben?

<div>
		Nach der Auswahl "Aufgaben" wird eine Liste verschiedener Einheiten angezeigt. 
		Die Gewichtung der Einheiten wurde durch die Entwickler vorgenommen und sind für Tutoren nicht veränderbar. 
		Wenn auf eine Einheit geklickt wird, öffnet sich die jeweilige Aufgabenseite. 
		Der Tutor hat die Möglichkeit, die höchste erreichbare Bewertung zu definieren.  
		Wenn die Leistung eines einzelnen Studenten bewertet werden soll, benotet der Tutor gemäß der definierten Bewertung.
</div>

h3. Wie kann ein Tutor Aufgaben des Studenten kommentieren und bewerten?

<div>
		Der Tutor wird durch per Mail über den Eingang studentischer Aufgaben informiert. 
		Ein Link führt zur Aufgabe, ebenso die Option "Eingegangene Arbeiten" nach Auswahl des Kurses. Hier hat der Tutor die Möglichkeit, die bearbeiteten Aufgaben zu kommentieren und eine Bewertung abzugeben. 
		Auf der Basis dieser Beurteilung wird die Bewertung des Studenten berechnet und im Kursbuch angezeigt.
</div>

h3. Wie kann ein Tutor den Fortschritt des Studenten überwachen?

<div>
		Der Fortschritt des einzelnen Studenten kann in seinem/ihren Kursbuch überwacht werden. 
		Es kann durch klicken auf das Kursbuch-Symbol (erstes Symbol auf der linken Seite , wenn das Account eines Studenten markiert ist) eingesehen werden. 
		Eine Übersicht aller Studenten und ihrer aktuellen Bewertungen findet sich durch klicken der Schaltfläche "Bewertung".
</div>

h3. Wie kann ein Tutor mit der ganzen Kursgruppe kommunizieren?

<div>

</div>

h3. Wie kann ein Tutor mit Arbeitsgruppen kommunizieren?

<div>

</div>

h3. Wie kann ein Tutor mit einzelnen Studenten kommunizieren?

<div>

</div>


  }%>