<div id="main">
  <h1><%= t(:welcome, :scope => :faq) %></h1>
  <p><%= t(:description, :scope => :faq) %></p>
 <%= render :partial => 'developer_faqs' %>
           
</div>
<div id="aside">

</div>

<script type="text/javascript">
  $(document).ready(function(){
    Stitched.loadFAQView();
  });
</script>