<tr class="unit_page" id="page_<%= page.id %>">
  <td class="page"> <%= link_to page.title, student_stitch_unit_page_path(page.stitch_unit,page) ,:class => "page"%></td>
  <td class="gewichtung">- %</td>
  <td class="functions">
    <%= image_tag("space.gif") %><%= image_tag("space.gif") %>
  </td>
</tr>