<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %>
	<% if @student %>
		<br />
		<%= show_answer(e, @student)  %>
	<% else %>
  	<%= text_field_tag :dummy  %>
	<% end %>
</p>