<%=  f.fields_for :element do |element_field| %>
  <p class="input">   
    <label for="Input"><%= t(:discussion_title, :scope => :chat) %></label>
    <%= element_field.text_area :title, :size => "10x2" %>
 </p>
<% end %>