<div id="main">
	<h1>
		Delivered Assignments for course <%= @course.short_title %>
	</h1>
	<table  class="userlist">
		<thead>
			<tr>
	      <td>Student</td>
	      <td>Module</td>
	      <td>Unit</td>
	    </tr>
		</thead>
		<% @answer_logs.each do |log| %>
			<tbody>
	        <%= generate_log(log, @tutor, @course) %>
		  </tbody>				
		<% end %>	
		</table>
	<%= link_to 'Back', :back %>
</div>
<div id="aside">

</div>