<div id='chat' %>
  <div id='chat_channels'>
    <% channels = ['dupa-1234'] %>
    <% channels.each do |ch| %>
      <%= render_channel(ch) %>
    <%end%>
  </div>

  <%= render partial:"chat/roster" %>

</div>
