<div class="channel" id="<%= channel.token %>">
  <p>Messages</p>
  <div class="container">
    <div class="messages">
      <% channel.messages.each do |msg| %>
        <%= render :partial => 'chat/message', :locals => { :message => msg } %>
      <% end %>
    </div>
  </div>

  <form>
    <input type="text" class='chat-input' placeholder="Type message...">
  </form>

</div>
