<div class="message">
  <div class="header">
    <div class="sender">
      <%= @message[:sender] %>
    </div>

    <div class="time">
      <%= @message[:time] %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="message-body">
    <%= @message[:body] %>
  </div>
</div>
