<div class="message">
  <div class="header">
    <div class="sender">
      <%= @message[:sender] %>
    </div>
    &nbsp; &nbsp; 
    <div class="time">
      <%= @message[:time] %>
    </div>
    <div class="clear"></div>
  </div>

  <div class="message-body">
    <p>
      <%= @message[:body] %>
    </p>
  </div>
</div>
