<div class="message">
  <span class="header">
    <div class="sender">
      <%= @message[:sender] %>
    </div>

    <div class="time">
      <%= @message[:time] %>
    </div>
  </span>

  <div class="message-body">
    <p>
      <%= @message[:body] %>
    </p>
  </div>
</div>
