<div class="message">
  <div class="header">
    <div class="sender"><%= message.profile.fullname %></div>
    <div class="time"><%= I18n.l(message.created_at, :format => :short) %></div>
    <div class="clear"></div>
  </div>
  <div class="message-body">
    <%= message.body %>
  </div>
</div>
