<script type="text/html" id="message">
  <div class="header">
    <div class="sender">{{sender}} </div>
    <div class="time">{{time}}</div>
    <div class="clear"></div>
  </div>

  <div class="message-body">{{body}}</div>
</script>

<script type="text/html" id="messageslist">
  <p>Messages</p>
  <div class="messages">
  </div>

  <form id='chat-form'>
    Type in new message: <input type="text" id="chat-msg">
  </form>

</script>

