<% if @page.next_page %>
	<%= link_to ">>", tutor_stitch_unit_page_path(@page.next_page.stitch_unit, @page.next_page ) %>
<% else %>
	<p><%= link_to t(:back, :scope => :general)+" "+t(:to, :scope => :general)+" "+t(:course, :scope => :course), tutor_course_path(@page.course) %></p>
<% end %>