<%= form_for @group_essay_answer, :url => student_content_element_group_essay_answer_path(@content, @element, @group_essay_answer) do |f| %>
	<%= render "student/#{@element.class.name.pluralize.underscore}/edit", :content => @content, :element => @element, :f => f %>	
	<p id="previous"><%= link_to "Previous version", :version => @group_essay_answer.previous_version %></p>
<% end %>
<div class="save">
  <img class="save" src="/images/space.gif" alt="save Item" />
</div>