<%= form_for @group_essay_answer, :url => student_content_element_group_essay_answer_path(@content, @element, @group_essay_answer) do |f| %>
	<%= render "student/#{@element.class.name.pluralize.underscore}/edit", :content => @content, :element => @element, :f => f %>	
	<p><%= link_to "Previous version", {:previous => @group_essay_answer.previous_version}, :id => "previous", :class => "version" %> <%= link_to "Next version", {:next => @group_essay_answer.next_version}, :id => "next", :class => "version" %> <p>
<% end %>
<div class="save">
  <img class="save" src="/images/space.gif" alt="save Item" />
</div>
<script type="text/javascript">
  $(document).ready(function(){
    Stitched.loadVersion();
  });
</script>