<%= form_for @group_essay_answer, :url => student_content_element_group_essay_answers_path(@content, @element) do |f| %>
	<%= render "student/#{@element.class.name.pluralize.underscore}/edit", :content => @content, :element => @element, :f => f %>
<% end %>
<div class="save">
  <img class="save" src="/images/space.gif" alt="save Item" />
</div>