<div id="main">
	<div class="showView" id="contentElements">
		<% @versions.each do |version| %>
			<p>
				<%= radio_button_tag "revert_to", version.index %>
				<%= Profile.find(version.whodunnit).login %>
				<%= version.created_at %>
			</p>
			<p>
				<%= raw version.reify.txt if version.object %>
			</p>
		<% end %>
	</div>
</div>
<div id="aside">

</div>
