/*
*= require_self
*= require_tree .
*= require smoothness/jquery-ui-1.8.9.custom
*/

.badge{padding:1px 9px 2px;font-size:12.025px;font-weight:bold;white-space:nowrap;color:#ffffff;background-color:#999999;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px;}

