.channel .container {
  height: 400px;
  border: 1px solid #ABC8E2;
  overflow: scroll;
  overflow-x: visible;
}

div.channel p{
  margin: 10px 10px 10px 0;
  font-size: 18px;
  font-weight:bold; 
}

div.messages {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}

div.message {
  width:auto;
  margin:0 auto;
  border: 1px solid #ABC8E2;
  margin-top: 20px;
}

div.header{
  width:100%;
  background-color:#ABC8E2;
  color:#375D81;
}

div.sender{
  float:left;
  padding:5px;
  width:400px;
}

div.time{
  float:right;
  padding:5px;
}

div.message-body{
  padding:10px;
  font-size:12px;
  font-weight:normal;
}

div.clear{ clear:both; }

.channel {
  width:72%;
  float:left;
}

#roster {
  width: 25%;
  float:right;
}

#roster .container{
  border: 1px solid #ABC8E2; 
}

#roster p {
  margin: 10px 10px 10px 0;
  font-size: 18px;
  font-weight:bold; 
}

.channel form{
  margin: 10px 10px 10px 0;
}
