<table  class="userlist">
  <thead>
    <tr>
      <td>Short Title</td>
      <td>Title</td>
      <td>Language</td>
			<td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr>
        <td><%= link_to course.short_title, overview_tutor_course_path(course) %></td>
        <td><%= course.title %></td>
        <td><%= course.language %></td>				
      </tr>
    <% end %>
  </tbody>
</table>