<td class="page">
  <%= form_for(@page, :url => developer_stitch_unit_page_path(@stitch_unit,@page)) do |f| %>
    <%= f.text_field :title %>
  <% end %>
</td>
<td class="gewichtung"> - %</td>
<td class="functions"><img src="/images/space.gif" /><img src="/images/space.gif" /></td>
