<%= form_for @question_score, :url => tutor_content_element_question_scores_path(@content, @element) do |f| %>
	<%= render "tutor/#{@element.class.name.pluralize.underscore}/edit", :content => @content, :element => @element, :f => f %>
<% end %>
<div class="save">
  <img class="save" src="/images/space.gif" alt="save Item" />
</div>